.hero {
    padding-top: 114px;
    background-image: url('../../../img/bg-up.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    height: 100vh;

    &__content {
        height: calc(100vh - 114px);
        background-repeat: no-repeat;
        background-position: 350px -170px;
      background-size: contain;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }

    &__phrase {
        font-size: 22px;
        line-height: 1.3;
        opacity: 0.5;
    }

    &__title {
        max-width: 513px;
        width: 100%;
        @extend %rufina-700;
        font-size: 82px;
        line-height: 1.2;
    }

    &__text {
        max-width: 513px;
        width: 100%;
        margin-bottom: 65px;
        opacity: 0.5;
    }

    &__form {
        display: flex;
    }

    &__input {
        padding: 28px 254px 28px 54px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 12px 0 0 12px ;
        opacity: 0.3;
        background-image: url('../../../img/icons/email.svg');
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    &__btn {
        background-color: $accent;
        color: $white;
        box-shadow: 10px 10px 30px rgba(0, 210, 118, 0.25);
        border-radius: 0px 12px 12px 0px;
        padding: 28px 64px;
    }
}