@font-face {
    font-family: 'Rufina';
    src: url('../fonts/Rufina-Regular.woff') format('woff'),
         url('../fonts/Rufina-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Rufina';
    src: url('../fonts/Rufina-Bold.woff') format('woff'),
         url('../fonts/Rufina-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen-Regular.woff') format('woff'),
         url('../fonts/Oxygen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Rufina';
    src: url('../fonts/Oxygen-Bold.woff') format('woff'),
         url('../fonts/Oxygen-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

