<footer class="footer">
    <div class="container">
        <div class="footer__nav">

            <a class="footer__logo logo" href="#">
                <img class="logo__img" src="../img/logo.svg" alt="Log Folga Digital" width="251px" height="44px">
            </a>

            <address class="footer__address">
                <span class="footer__name">
                    São Paulo
                </span>
                <span class="footer__addr">
                    Rua Francisco de Queiroz, 1245
                    Cosmópolis
                </span>
                <a class="footer__addr footer__addr--tel" href="tel:11998560987"> 
                    Telefone: (11) 99856-0987
                </a>
            </address>

            <div class="footer__social">
                <span class="footer__name footer__name--social">Redes sociais</span>
                <ul class="footer__social-menu">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="sr-only">Ir para o Facebook</span>
                            <svg class="footer__social-icon">
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="sr-only">Ir para o Twitter</span>
                            <svg class="footer__social-icon">
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="sr-only">Ir para o Whatsapp</span>
                            <svg class="footer__social-icon">
                                <use xlink:href="img/sprite.svg#whatsapp"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="#">
                            <span class="sr-only">Ir para o Instagram</span>
                            <svg class="footer__social-icon">
                                <use xlink:href="img/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>