.footer {
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.01);
    padding: 40px 0 170px 0;
    background-image: url('../../img/bg-down.svg');
    background-repeat: no-repeat;
    background-position: right bottom;

    @include xl {
        background-position-y: 135px;
    }

    @include md {
        background-image: url('../../img/bg-mobill-bottom.svg');
       background-size: contain;
    background-position: right bottom;
    padding: 30px 0 37px 0;
    }

    &__nav {
        @extend %df;
        max-width: 910px;
        width: 100%;
        @include md {
            display: block;
        }
    }

    &__logo {
        display: block;
        @include md {
            margin-bottom: 30px;
        }
    }

    &__name {
        display: block;
        @extend %oxygen-700;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 4px;

        &--social {
            margin-bottom: 30px;
        }
    }

    &__address {
     max-width: 222px;
     width: 100%;

     @include md {
        margin-bottom: 30px;
    }
    }

    &__addr {
        display: block;
        opacity: 0.7;
        
        &--tel {
            transition: opacity 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }

    &__social-menu {
        display: flex;
    }

    &__social-item {
        @include not(30px);
        transition: opacity 0.3s ease-in-out;
        &:hover {
            opacity: 0.7;
        }
    }

    &__social-icon {
        max-width: 24px;
        width: 100%;
        height: 26px;
        fill: $accent;
    }

   
}
