.header {
    padding: 35px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    &--fixed {
        position: fixed;
        background-color: $white;
        z-index: 2;
    }

    @include lg {
        padding: 30px 0;
    }

    @include lg {
        padding: 26px 0;
    }

    &__nav {
        @extend %df;
        @extend %oxygen-700;
        line-height: 1.25;
        align-items: center;
    }

    &__logo {
        @include sm {
            max-width: 177px;
            width: 100%;
        }
    }

    &__menu {
        display: flex;

        @include lg {
            display: none;
        }
    }

    &__item {
        position: relative;
        @include not(32px);
        position: relative;

        &:not(:last-child) {
            &::after {
                content: "/";
                position: absolute;
                right: -16px;
            }
        }

        &:hover::before {
            position: absolute;
            content: "";
            transition: all 0.3s ease-in-out;
            height: 2px;
            width: 80%;
            bottom: -4px;
            left: 10%;
            right: 10%;
            background-color: $text;
        }
    }

    &__cart {
        align-self: end;
        display: none;
        @include lg {
            display: block;
        }
    }

    .cart__icon {
        max-width: 44px;
        height: 44px;
        @include sm {
            max-width: 25px;
            height: 26px;
        }
    }
}
