.header {
    padding: 35px 0;
    position: absolute;
    left: 0;
    right: 0;

    &--fixed {
    position: fixed;
    background-color: $white;
    z-index: 2;
    }


    @include lg {
        padding: 30px 0;
    }

    @include lg {
        padding: 26px 0;
    }

    &__nav {
        @extend %df;
        @extend %oxygen-700;
        line-height: 1.25;
        align-items: center;
    }

    &__logo {
        
        @include sm {
            max-width: 177px;
            width: 100%;  
        }
    }

    &__menu {
        display: flex;
    
        @include lg {
           display: none;
        }
    }

    &__item {
        position: relative;
        @include not(32px);
        &:not(:last-child){
            &::after {
                content: '/';
                position: absolute;
                right: -16px;
            }
        }
    }

    &__cart {
       align-self: end;
        display: none;
        @include lg {
            display: block;
        }

    }
}
