<section class="hero">
<div class="container">
    <div class="hero__content" style="background-image: url('../../img/book.png');">
        <span class="hero__subtitle subtitle">
            Expanda seu universo com os
        </span>
        <h1 class="hero__title title">
            melhores livros
        </h1>
        <div class="hero__text">
            <p>
                Aqui você vai encontrar livros de diversos autores, biografias de inumeros atores e grandes clássicos da literatura nacional. E também terá um espaço para compartilhar sua opinião com outros amantes dos livros.  Assine e fique por dentro de cada novidade.
            </p>
        </div>

        <form class="hero__form">
            <label class="sr-only" for="mail"></label>
            <input class="hero__input" type="text" placeholder="Insira seu e-mail" id="mail" name="mail" required>
            <button class="hero__btn btn" type="submit">
                Assinar
            </button>
        </form>

    </div>
</div>
</section>