<section class="meet">
    <div class="container">
        <div class="meet__order">
            <img class="meet__img" src="../../img/books-open.jpg" alt="Livros de trabalho abertos" width="586" height="440">
            <div class="meet__inner">
                <span class="meet__subtitle subtitle meet__subtitle--como">
                    Como pedir
                </span>
                <span class="meet__caption">
                    meus livros
                </span>
                <ul class="meet__items">
                    <li class="meet__item meet__item--choose">
                        Escolha seus livros                      
                    </li>
                    <li class="meet__item meet__item--cart">
                        Faça seu pedido                     
                    </li>
                    <li class="meet__item meet__item--delivery">
                        Aguarde na sua casa                      
                    </li>
                </ul>
            </div>
        </div>

        <div class="meet__offers">
            <span class="meet__subtitle subtitle">
                Conheça nossos
            </span>
            <h2 class="meet__title title">
                livros
            </h2>
            <ul class="meet__cards">
                <li class="meet__item-card">
                    <article class="meet__card card">
                        <a class="card__link" href="#">
                            <img class="card__img" src="../../img/books/vida.jpg" alt="A bordo da Vida" width="195" height="181">
                        </a>
                        <div class="card__inner">
                            <a class="card__title" href="#">
                                a bordo da Vida 
                            </a>
                            <span class="card__price">
                                R<span class="card__currency">$</span>
                                40,00
                            </span>
                            <a class="card__buy" href="#">
                                Comprar
                            </a>
                        </div>
                    </article>
                </li>

                <li class="meet__item-card">
                    <article class="meet__card card">
                        <a class="card__link" href="#">
                            <img class="card__img" src="../../img/books/formados.jpg" alt="Formados 
                            Sem Rumo" width="195" height="181">
                        </a>
                        <div class="card__inner">
                            <a class="card__title" href="#">
                                Formados Sem Rumo
                            </a>
                            <span class="card__price">
                                R<span class="card__currency">$</span>
                                40,00
                            </span>
                            <a class="card__buy" href="#">
                                Comprar
                            </a>
                        </div>
                    </article>
                </li>

                <li class="meet__item-card">
                    <article class="meet__card card">
                        <a class="card__link" href="#">
                            <img class="card__img" src="../../img/books/sublime.jpg" alt="Sublime" width="195" height="181">
                        </a>
                        <div class="card__inner">
                            <a class="card__title" href="#">
                                Sublime
                            </a>
                            <span class="card__price">
                                R<span class="card__currency">$</span>
                                40,00
                            </span>
                            <a class="card__buy" href="#">
                                Comprar
                            </a>
                        </div>
                    </article>
                </li>

                <li class="meet__item-card">
                    <article class="meet__card card">
                        <a class="card__link" href="#">
                            <img class="card__img" src="../../img/books/morri.jpg" alt="Morri! 
                            E Agora?" width="195" height="181">
                        </a>
                        <div class="card__inner">
                            <a class="card__title" href="#">
                                Morri! E Agora? 
                            </a>
                            <span class="card__price">
                                R<span class="card__currency">$</span>
                                40,00
                            </span>
                            <a class="card__buy" href="#">
                                Comprar
                            </a>
                        </div>
                    </article>
                </li>

                <li class="meet__item-card">
                    <article class="meet__card card">
                        <a class="card__link" href="#">
                            <img class="card__img" src="../../img/books/delirios.jpg" alt="Delírios" width="195" height="181">
                        </a>
                        <div class="card__inner">
                            <a class="card__title" href="#">
                                Delírios
                            </a>
                            <span class="card__price">
                                R<span class="card__currency">$</span>
                                40,00
                            </span>
                            <a class="card__buy" href="#">
                                Comprar
                            </a>
                        </div>
                    </article>
                </li>

                <li class="meet__item-card">
                    <article class="meet__card card">
                        <a class="card__link" href="#">
                            <img class="card__img" src="../../img/books/filiciao.jpg" alt="Filiação 
                            Biológica e afetiva" width="195" height="181">
                        </a>
                        <div class="card__inner">
                            <a class="card__title" href="#">
                                Filiação Biológica... 
                            </a>
                            <span class="card__price">
                                R<span class="card__currency">$</span>
                                40,00
                            </span>
                            <a class="card__buy" href="#">
                                Comprar
                            </a>
                        </div>
                    </article>
                </li>
            </ul>
        </div>

    </div>
</section>