<section class="review-video">
<div class="container">
    <span class="review-video__subtitle subtitle">
        Veja as resenhas em nossos
    </span>
    <h1 class="review-video__title title">
        vídeos
    </h1>

    <div class="review-video__items">
        <div class="review-video__item">
            <a class="review-video__link" href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/murolo.jpg" alt="Resenha do Murilo" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha do Murilo
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link" href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/marcela.jpg" alt="Resenha da Marcelao" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha da Marcela
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link" href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/nelma.jpg" alt="Resenha da Nelma" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha da Nelma
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link" href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/fernanda.jpg" alt=" Resenha da Fernanda" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha da Fernanda
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link" href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/murolo.jpg" alt="Resenha do Murilo" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha do Murilo
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link" href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/marcela.jpg" alt="Resenha da Marcelao" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha da Marcela
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link"href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/nelma.jpg" alt="Resenha da Nelma" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha da Nelma
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>

        <div class="review-video__item">
            <a class="review-video__link"href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox>
                <img class="review-video__img" src="../../img/video/fernanda.jpg" alt=" Resenha da Fernanda" width="278" height="252">
            </a>
            <cite class="review__name">
                Resenha da Fernanda
            </cite>
            <span class="review__sub">
                Publicado em Janeiro de 2018
            </span>
        </div>
    </div>
</div>
</section>