<section class="review">
<div class="container">
    <div class="review__inner">
        <img class="review__img" src="../../img/girl.jpg" alt="Leitura menina" width="482" height="511">
        <div class="review__reviews">
            <h2 class="sr-only">
                Que lêem nossos livros
            </h2>
            <h3 class="review__title">
                Veja o que os nossos leitores tem a compartilhar
            </h3>
            <div class="review__slider">
                <div class="review__content">
                    <blockquote class="review__blockquote">
                        <p>
                            Comecei a ler “Sublime” de forma aleatória e sem muitas expectativas, embora a sinopse tenha me agradado. Confesso até que estranhei um pouco a quantidade de texto, já que eu tinha apenas visto a capa pela internet e imaginava que fosse um livro mais de ilustrações. Mas devo dizer que fui surpreendido já nas primeiras páginas por um texto realmente bom, adorei a linguagem. E como é  bom ser surpreendido dessa forma. Naqueles momentos em que você está no trabalho, pega o livro que está sobre a mesa, acena para o colega do lado e diz: -Cara, esse livro aqui é bom. Pois é, gostei nesse tanto. E espero conhecer os seus outros livros. 
                        </p>
                    </blockquote>
                    <cite class="review__name">
                        Camila Barbosa
                    </cite>
                    <span class="review__sub">
                        Assinante desde 2020
                    </span>
                </div>

                <div class="review__content">
                    <blockquote class="review__blockquote">
                        <p>
                            Comecei a ler “Sublime” de forma aleatória e sem muitas expectativas, embora a sinopse tenha me agradado. Confesso até que estranhei um pouco a quantidade de texto, já que eu tinha apenas visto a capa pela internet e imaginava que fosse um livro mais de ilustrações. Mas devo dizer que fui surpreendido já nas primeiras páginas por um texto realmente bom, adorei a linguagem. E como é  bom ser surpreendido dessa forma. Naqueles momentos em que você está no trabalho, pega o livro que está sobre a mesa, acena para o colega do lado e diz: -Cara, esse livro aqui é bom. Pois é, gostei nesse tanto. E espero conhecer os seus outros livros. 
                        </p>
                    </blockquote>
                    <cite class="review__name">
                        Camila Barbosa
                    </cite>
                    <span class="review__sub">
                        Assinante desde 2020
                    </span>
                </div>

                <div class="review__content">
                    <blockquote class="review__blockquote">
                        <p>
                            Comecei a ler “Sublime” de forma aleatória e sem muitas expectativas, embora a sinopse tenha me agradado. Confesso até que estranhei um pouco a quantidade de texto, já que eu tinha apenas visto a capa pela internet e imaginava que fosse um livro mais de ilustrações. Mas devo dizer que fui surpreendido já nas primeiras páginas por um texto realmente bom, adorei a linguagem. E como é  bom ser surpreendido dessa forma. Naqueles momentos em que você está no trabalho, pega o livro que está sobre a mesa, acena para o colega do lado e diz: -Cara, esse livro aqui é bom. Pois é, gostei nesse tanto. E espero conhecer os seus outros livros. 
                        </p>
                    </blockquote>
                    <cite class="review__name">
                        Camila Barbosa
                    </cite>
                    <span class="review__sub">
                        Assinante desde 2020
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
</section>