<section class="product-card">
    <div class="container">
        <div class="product-card__wrap">
            <img class="product-card__img" src="../../../img/books/Sublime.png" alt="Sunlime" width="790" height="553">
            <div class="product-card__inner">
                <h1 class="sr-only">
                    Сompre de nós
                </h1>
                <h2 class="product-card__title">
                    Sublime
                </h2>
                <span class="product-card__autor">
                        Autora -
                    <span class="product-card__autor product-card__autor--name">
                    Michelli Moraes
                </span>
                </span>
                <span class="product-card__block-name">
                    Características
                </span>
                <ul class="product-card__char char">
                    <li class="char__item">
                        <span class="char__name">
                            Número de páginas

                        </span>
                        <span class="char__name-value">
                            272

                        </span>
                    </li>
                    <li class="char__item">
                        <span class="char__name">
                            Edição

                        </span>
                        <span class="char__name-value">
                            1 (2014)

                        </span>
                    </li>
                    <li class="char__item">
                        <span class="char__name">
                            Formato
                        </span>
                        <span class="char__name-value">
                            A5 (148x210)

                        </span>
                    </li>
                    <li class="char__item">
                        <span class="char__name">
                            Acabamento
                        </span>
                        <span class="char__name-value">
                            Brochura c/ orelha

                        </span>
                    </li>
                    <li class="char__item">
                        <span class="char__name">
                            Coloração
                        </span>
                        <span class="char__name-value">
                            Preto e branco

                        </span>
                    </li>
                    <li class="char__item">
                        <span class="char__name">
                            Tipo de papel
                        </span>
                        <span class="char__name-value">
                            Offset 75g

                        </span>
                    </li>
                    <li class="char__item">
                        <span class="char__name">
                            Categorias
                        </span>
                        <span class="char__name-value">
                            Literatura Nacional, Romance,
                            Ficção
                        </span>
                    </li>
                </ul>

                <span class="product-card__price">
                    <span class="product-card__currency">
                    R$
                </span>
                    40,00
                </span>              
            </div>
            <div class="product-card__btns">
                <a class="product-card__buy btn" href="#">
                    Comprar já
                </a>

                <button class="product-card__add" type="button">
                    Adicionar ao carrinho
                </button>
            </div>
        </div>
    </div>
</section>